{% block javascripts  %}
    <script type="text/javascript">
    $(document).ready(function(){
        $('p[data-confirm]').click(function(ev) {
            var href = $(this).attr("data-target");

            $('#dataReadMoreModal').find('#myModalReadMoreLabel').text($(this).attr('data-id'));
            $('#dataReadMoreModal').find('.modal-body').text($(this).attr('data-confirm'));
            $('#dataReadMoreModal').find('.link-modal').text('');
            $('#dataReadMoreModal').find('.link-modal').append('<a href='+href+' class="btn btn-info" target="_blank"> Voir </a>');
            $('#dataReadMoreModal').modal({show:true});

            return false;
        });

        $('#dataReadMoreOK').click(function(ev) {
            $('#dataReadMoreModal').modal('hide');
            return false;
        });
    });
    </script>
{% endblock %}
<div class="modal fade" id="dataReadMoreModal" tabindex="-1" role="dialog" aria-labelledby="myModalReadMoreLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalReadMoreLabel"></h4>
      </div>
      <div class="modal-body" id="myModalContent" style='color: #000'>

      </div>
      <div align="center" class="link-modal"></div>
      
      <div class="modal-footer">
        <a class="btn btn-primary" id="dataReadMoreOK">ok</a>
      </div>
    </div>
  </div>
</div>
