services:
#    ath_main.example:
#        class: Ath\MainBundle\Example
#        arguments: ["@service_id", "plain_value", %parameter%]

# Service Mailer
    ath_main.services.send_mail:
        class: Ath\MainBundle\Services\SendMail
        arguments: ['@service_container', '@doctrine.orm.entity_manager']

# Handler
    ath.form.handler.demande_celebrite:
        class: Ath\MainBundle\Form\Handler\DemandeCelebriteFormHandler
        scope: request
        arguments:
          - "@request"
          - "@doctrine.orm.default_entity_manager"
          - "@session"
          - "@translator"
        tags:
            - { name: form.handler, alias: demande_celebrite.handler }

#  ----------------------- Gestion ADMIN -----------------------------------------------------
    admin.demande_celebrite:
        class: Ath\MainBundle\Admin\DemandeCelebriteAdmin
        arguments: [~, Ath\MainBundle\Entity\DemandeCelebrite, AthMainBundle:DemandeCelebriteAdmin]
        tags:
            - {name: sonata.admin, manager_type: orm, group: Administration, label: Demandes de Célébrité}

    admin.categorie_produit:
        class: Ath\MainBundle\Admin\CategorieProduitAdmin
        arguments: [~, Ath\MainBundle\Entity\CategorieProduit, ~]
        tags:
            - {name: sonata.admin, manager_type: orm, group: Administration, label: Catégorie de Produit}

    admin.produit:
        class: Ath\MainBundle\Admin\ProduitAdmin
        arguments: [~, Ath\MainBundle\Entity\Produit, ~]
        tags:
            - {name: sonata.admin, manager_type: orm, group: Administration, label: Produit}

    admin.file_produit:
        class: Ath\MainBundle\Admin\FileProduitAdmin
        arguments: [~, Ath\MainBundle\Entity\FileProduit, ~]
        tags:
            - {name: sonata.admin, manager_type: orm, label: Photos, show_in_dashboard: false }
    
    admin.file_post:
        class: Ath\MainBundle\Admin\FilePostAdmin
        arguments: [~, Ath\MainBundle\Entity\FilePost, ~]
        tags:
            - {name: sonata.admin, manager_type: orm, label: Photos, show_in_dashboard: false }

    admin.sport:
        class: Ath\MainBundle\Admin\SportAdmin
        arguments: [~, Ath\MainBundle\Entity\Sport, ~]
        tags:
            - {name: sonata.admin, manager_type: orm, group: Administration, label: Catégorie de sport}
    
    admin.user_discussion:
        class: Ath\MainBundle\Admin\UserDiscussionAdmin
        arguments: [~, Ath\MainBundle\Entity\UserDiscussion, ~]
        tags:
            - {name: sonata.admin, manager_type: orm, group: Administration, label: Discutions utilisateurs}

    admin.message:
        class: Ath\MainBundle\Admin\MessageAdmin
        arguments: [~, Ath\MainBundle\Entity\Message, ~]
        tags:
            - {name: sonata.admin, manager_type: orm, group: Administration, label: Message utilisateurs}

    admin.post:
        class: Ath\MainBundle\Admin\PostAdmin
        arguments: [~, Ath\MainBundle\Entity\Post, ~]
        tags:
            - {name: sonata.admin, manager_type: orm, group: Administration, label: Article}

    admin.comment:
        class: Ath\MainBundle\Admin\CommentAdmin
        arguments: [~, Ath\MainBundle\Entity\Comment, ~]
        tags:
            - {name: sonata.admin, manager_type: orm, group: Administration, label: Commentaires des articles}

    admin.group_application:
        class: Ath\MainBundle\Admin\GroupApplicationAdmin
        arguments: [~, Ath\MainBundle\Entity\GroupApplication, ~]
        tags:
            - {name: sonata.admin, manager_type: orm, group: Administration, label: Gestion des groupes administrateurs}

# ----------------------- FIN GESTION ADMIN -------------------------------------------------

# Widget Form pour les statuts de demande de célébrité
    ath_main.form.type.statuts_demande_celebrite:
        class: Ath\MainBundle\Form\Type\StatutDemandeCelebriteFormType
        tags:
            - { name: form.type, alias: statuts_demande_celebrite_widget }

# Type Widget form
    ath_main.form.widget_type.image:
        class: Ath\MainBundle\Form\WidgetType\ImageType
        tags:
            - { name: form.type, alias: image }
    
    ath_main.form.type.roles_app:
        class: Ath\MainBundle\Form\Type\RolesAppFormType
        arguments:
          - ""
          - ""
          - ""
        tags:
            - { name: form.type, alias: roles_app }

    # Listener sur entity User
    ath_main.user_follow_listener:
        class: Ath\MainBundle\EventListener\UserFollowIndexer
        arguments: ['@service_container']
        tags:
            - { name: doctrine.event_listener, event: prePersist }
            - { name: doctrine.event_listener, event: preUpdate }
            - { name: doctrine.event_listener, event: postFlush }