{% extends '::base_error.html.twig' %}

{% block body %}
<center>
    <div class="fond_404">
        <div class="text_404">
            <h1 class="title-error">{{ "error.404" | trans({}, 'home') }}</h1>
            <h2>{{ "error.404_message" | trans({}, 'home') }}</h2>
            <br/>
            <p>
                <a href="{{ path('ath_main_homepage') }}">{{ "retour.accueil" | trans({}, 'home') }}</a>.
            </p>
        </div>
    </div>
</center>
{% endblock %}
