{% extends '::base_error.html.twig' %}

{% block body %}
    <center>
        <div class="fond_500">
            <div class="text_500">
                <h1 class="title-error">{{ "error.500" | trans({}, 'home') }}</h1>
                <h2>{{ "error.500_message" | trans({}, 'home') }}</h2>
                <br/>
                <p>
                    <a href="{{ path('ath_main_homepage') }}">{{ "retour.accueil" | trans({}, 'home') }}</a>.
                </p>
            </div>
        </div>
    </center>
{% endblock %}
