/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/node_modules/
/bower_components/
/.idea/
/web/compiled/*
/web/uploads/*
/web/.sass-cache
/web/stylesheets
/app/SymfonyRequirements.php
/app/check.php
composer.lock
/web/config.php
/web/media/*
/data_cache/*