{% extends "AthUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

	<div class="authorization" style="background-color: white; width: 80%; padding: 50px">

			<h1><strong>{{ "noConnected.h1" | trans({}, 'home') }}</strong></strong></h1>
 
				{# <div class="col-md-6 col-sm-12 col-md-offset-3 subscribe"> #}
			<div class="">
				<p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
				
				<a href="{{ path('user_security_login') }}" class="btn btn-default"> Retourner à l'accueil</a>
				<br><br>
				<span id="result" class="alertMsg"></span> 
			</div>

	</div><!-- /container -->

{% endblock fos_user_content %}