{% extends admin.getTemplate('base_list_field') %}

{% block field%}
    {% if value is empty %}
        &nbsp;
    {% else %}
        <a href="{{ value }}" target="_blank">{{ value }}</a> 
    {% endif %}
{% endblock %}