body {
  font-family: 'Open Sans', Arial, sans-serif;
  background: #FFF;
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #94a3a8;
}

strong, b {
  font-weight: 600;
}

h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 15px 0;
}

h3 {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  margin: 10px 0;
}

h5 {
  font-size: 28px;
  font-weight: 600;
  margin: 15px 0;
  color: #384047;
}

h6 {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
  color: #384047;
}

a {
  color: #5173bd;
}

a:hover, a:focus {
  color: #5173bd;
}

.post-error-list {
  float: left;
  color: red;
  font-weight: bold;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  // margin-bottom: 50px;
}

.space-vertical-input {
  margin-bottom: 50px;
}

.loading * {
  @include animation(none!important);
}