.footercta {
  padding: 60px 15px;
  color: #FFF;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  background: #6883cc url("/images/header.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footerlinks {
  text-align: center;
  a {
    text-align: center;
    padding: 0 13px;
    display: inline-block;
    padding-bottom: 15px;
  }
}
