.title-line {
	border-bottom: 4px solid #b3de1d;
    color: #363b51;
    font-size: 28px;
    margin-bottom: 25px;
    padding-bottom: 20px;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(10px 10px 10px 10px);
    height: 30px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 60px;
}
.ui-state-focus{
    background-color: #0099FF;
}
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 200px;
  _width: 500px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    // line-height: 25px;
    color: #555555;
    white-space: nowrap;
    cursor: pointer;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0099FF;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

.btn-new-info {
  background: transparent;
  color:#363b51;
  border:3px solid #363b51;
  width: 100%;
  border-radius: 5px;
  padding: 15px 0px;
  width: 190px;
  outline: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  // background-color: #33CCFF;
}

.btn-new-info:hover{
  color:#0084ff;
  border-color:#0084ff;
}


.btn-suivre {
  background: transparent;
  color:#363b51;
  border:3px solid #363b51;
  width: 100%;
  border-radius: 5px;
  padding: 15px 0px;
  width: 190px;
  outline: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  // background-color: #33CCFF;
}

.btn-suivre:hover{
  color:#0084ff;
  border-color:#0084ff;
}

.btn-no-suivre {
  background: transparent;
  color:#363b51;
  border:3px solid #363b51;
  width: 100%;
  border-radius: 5px;
  padding: 15px 0px;
  width: 190px;
  outline: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  // background-color: #33CCFF;
}

.btn-no-suivre:hover{
  color:#0084ff;
  border-color:#0084ff;
}

#my-loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: fixed;
  bottom: 10px;
  left: 50%;
  right: 50%;
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.read-more{
  cursor: pointer;
}

.link-color {
  color: blue;
}

.block-action-post{
  padding-bottom:20px;
}

.block-action-post a{
  color: grey;
}

.hide-comments{
  display: none;
}

.already-like{
  color: #2196f3 !important;
}

.loadinggif-for-input
{
  background-image:url('/images/ajax-loader.gif');
    background-repeat:no-repeat;
    background-position: right;
}

.post-error-list {
  // float: left;
  margin-left: 15px;
  color: red;
  font-weight: bold;
}

.active-flag {
  // padding: 10px;
  // border: 0px #666 solid;
  // background-color: grey;
  // color: #fff;
  // background-color: #b91773;
  // border-color: #fff;
    padding: 10px 40px;
    background: #dddddd;
    border-radius: 25px;
}
// .row {
//   margin-left: -15px;
//   margin-right: -15px;
//   margin-bottom: 50px;
// }

#owl-product .item2{
  margin: 3px;
}
#owl-product .item2 img{
  display: block;
  width: 100%;
  height: auto;
}