{% if is_granted('ROLE_ADMIN_USER_PASSWORD') %}
	<a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('password', object) }}">{{ 'user.button.changepassword'|trans({}, 'administration') }}</a>
{% endif %}
