html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  line-height: $base-line-height/$base-font-size;
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

ul {
  margin-top: 0;
}


button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

img {
    vertical-align: middle
}
